html,
body,
div,
article,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
a,
button,
input,
textarea,
select,
details,
summary,
footer,
nav {
    transition: background-color 0.3s ease-in-out, color 0.1s ease;
}

::selection {
    color: var(--on-primary);
    background-color: var(--primary);
}

.fade-in {
    opacity: 0;
    transform: translateY(-30px);
    animation: fadeInFromTop ease 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}

details {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    max-height: 5rem !important;
    transition: all 0.3s ease;

    ::-webkit-details-marker {
        display: none;
    }
    page-break-inside: avoid;
    transform: translateX(200%); /* Start from the right */
    animation: fadeInFromRight 0.5s forwards; /* Added animation */
}

@keyframes fadeInFromRight {
    0% {
        transform: translateX(200%); /* Start from the right */
    }
    100% {
        transform: translateX(0); /* End at original position */
    }
}

details[open] {
    max-height: 99em !important;
    border: 0.0625rem solid var(--primary) !important;
}
#document-title{
    display: none;
}
@media print {
    details:not([open]) {
        display: none !important;
    }
    #document-title{
        display: block !important;
    }
    header{
        display: none !important;
    }
}